/* Edited CSS from Karparthy (https://github.com/karpathy/karpathy.github.io/blob/master/css/main.css) */
.home h1 { margin-bottom: 25px; }

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 36px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}
